body .middlepart {
  position: relative;
  top: 300px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  background-image: url(/images/background/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .middlepart .blackcontainer {
  -webkit-box-shadow: 0 0 30px 1px #2d2e2ff1;
          box-shadow: 0 0 30px 1px #2d2e2ff1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.801);
  width: 60%;
  margin: auto;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Century Gothic";
  padding: 20px 40px 20px 40px;
}

body .middlepart .blackcontainer .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .middlepart .blackcontainer .bio .apostle {
  border-radius: 5px;
  width: 30%;
}

body .middlepart .blackcontainer .bio .message {
  text-align: justify;
  line-height: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: "Century Gothic";
  color: white;
}

body .middlepart .blackcontainer .bio .message .readmore {
  color: #FFC40C;
  text-decoration: none;
}

body .middlepart .blackcontainer .events {
  text-align: center;
  color: #FFC40C;
}

body .middlepart .blackcontainer .events .heading {
  color: #FFC40C;
  font-size: 35px;
  font-weight: bolder;
}

body .middlepart .blackcontainer .events .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  border: white 1px solid;
}

body .middlepart .blackcontainer .events .event .poster {
  width: 50%;
  height: 500px;
}

body .middlepart .blackcontainer .events .event .description {
  text-align: center;
  line-height: 30px;
  width: 50%;
  font-size: 18px;
}

body .middlepart .blackcontainer .events .event .description .rsvpbutton {
  text-decoration: none;
  color: #FFC40C;
  border: 2px solid #0958BF;
  padding: 2px 20px 2px 20px;
  border-radius: 30px;
}

body .middlepart .blackcontainer .preachingvid {
  margin-top: 30px;
}

body .middlepart .blackcontainer .preachingvid video {
  width: 100%;
  height: 400px;
  background-color: whitesmoke;
}

body .middlepart .blackcontainer2 {
  -webkit-box-shadow: 0 0 30px 1px #2d2e2ff1;
          box-shadow: 0 0 30px 1px #2d2e2ff1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.801);
  width: 60%;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Century Gothic";
  padding: 20px 40px 20px 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .middlepart .blackcontainer2 .givinghand {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .middlepart .blackcontainer2 .givinghand img {
  width: 50px;
}

body .middlepart .blackcontainer2 .partnershipverse {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  width: 30%;
  text-align: justify;
}

body .middlepart .blackcontainer2 .partnershipscripture {
  color: #FFC40C;
  font-size: 20px;
  font-family: "Century Gothic";
}

body .middlepart .blackcontainer2 .partnershipbutton {
  text-decoration: none;
  color: #FFC40C;
  border: 2px solid #0958BF;
  padding: 2px 20px 2px 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

body .middlepart .blackcontainer2 .container {
  margin-bottom: 30px;
}

body .middlepart .blackcontainer2 .container .image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

body .middlepart .blackcontainer2 .container .image-gallery .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

body .middlepart .blackcontainer2 .container .image-gallery .column .image-item img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .middlepart .blackcontainer2 .more-photos {
  text-decoration: none;
  color: #FFC40C;
  border: 2px solid #0958BF;
  padding: 2px 20px 2px 20px;
  border-radius: 30px;
  font-size: 20px;
}
/*# sourceMappingURL=middlepart.css.map */