$primarycolor:#0958BF;
$backgroundcolor: #2C2D2E;
$backgroundcolorop: #2d2e2ff1;
$blackbackground:#000000de;
$blackbackgroundfooter:#0000009c;
$golden:#FFC40C;

// font family
$fontmenu:'calibri light';
$fontweb:'Century Gothic';
$fontcursive:'Bradley Hand ITC';
$fontheading:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', ;

// font size
$headingfontsize:35px;
$heading1fontsize:33px;
$heading2fontsize:29px;
$textfontsize:20px;
$text1fontsize:23px;

// font weight
$boldheading:bolder;
body{
    .middlepart{
        position: relative;
        top: 300px;
        left: 0px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        
        background-image: url(../../images/background/background2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .blackcontainer{
            box-shadow:0 0 30px 1px $blackbackgroundfooter;
            border-radius: 10px;
            background-color: #000000cc;
            width: 60%;
            margin: auto;
            display: block;
            align-self: center;
            font-family: $fontweb;
            padding: 20px 20px 20px 20px;
            font-size: $textfontsize;
            .preachingvid{
                margin-top: 30px;
                video{
                    width: 100%;
                    height: 600px;
                    background-color: whitesmoke;
                }
            }
            p{
                color: white;
                text-align: justify;
            }
            .scripture{
                color: $golden;
            }
            h2{
                color: $golden;
            }
            h3{
                color: #3F4359;;
            }
        }
        .moneytiles{
            width: 62%;
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 20px;
            margin-top: 20px;
            font-size: $textfontsize;
            font-family: $fontweb;
            .colortile{
                box-shadow:0 0 5px 1px #d4af37;
                background-color: #d4af37;
                border-radius: 10px;
                padding: 20px;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                .content{
                    color: white;
                    
                    h2{
                        text-transform:uppercase;
                        font-size: $heading2fontsize;
                    }
                    p{
                        width: 80%;
                        text-align: justify;
                    }
                }
                
                
            }
            .tile{
                box-shadow:0 0 5px 1px #3F4359;
                background-color: #3F4359;
                border-radius: 10px;
                text-align: center;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                .mobilemoney{
                    color: $golden;
                    margin: 5px;
                }
                .number{
                    color: white;
                    margin: 5px;
                }
            }
        }
        .paypal{
            width: 62%;
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 20px;
            margin-top: 20px;
            font-size: $textfontsize;
            font-family: $fontweb;

            .colortile{
                box-shadow:0 0 5px 1px #d4af37;
                background-color: #d4af37;
                border-radius: 10px;
                padding: 20px;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                .content{
                    color: white;
                    
                    h2{
                        text-transform:uppercase;
                        font-size: $heading2fontsize;
                    }
                    p{
                        width: 80%;
                        text-align: justify;
                    }
                }
                
                
            
            }
            .tile{
                box-shadow:0 0 5px 1px #3F4359;
                background-color: #3F4359;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width:200px ;
                    margin-bottom: 20px;
                }
                a{
                    text-decoration: none;
                    color: $golden;
                    border: $primarycolor 3px solid;
                    border-radius: 30px;
                    padding: 5px 10px 5px 10px;
                    background-color: black;
                }
                
            }
        }

    }
}
